# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BS-23 Trainee\All Projects\WeeklyEEProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
